<div class="container" *ngIf="authService.loggedIn">
  <mat-card class="example-card container" >

    <form class="my-form" [formGroup]="newpostForm" style="margin: 0 auto" novalidate (ngSubmit)="onComment()">
      <mat-card-header>
        <mat-card-title>Post Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width" style="width: 100%">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" [(ngModel)]="blog.title" formControlName="title" name="title">

        </mat-form-field>
        <mat-form-field class="full-width" style="width: 100%">
          <mat-label>Artical Link</mat-label>
          <input matInput placeholder="Artical Link" [(ngModel)]="blog.link" formControlName="link" name="link">


        </mat-form-field>
      </mat-card-content>
      <mat-form-field class="example-full-width" style="width: 100%">
        <textarea matInput [(ngModel)]="blog.body" name="name" rows="8" cols="80" placeholder="Body" class="form-control" formControlName="body"></textarea>

      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%">
        <textarea matInput [(ngModel)]="blog.coments" name="coments"   *ngIf="authService.loggedIn"rows="8" cols="80" placeholder="coments" 
        class="form-control" formControlName="coments"></textarea>

      </mat-form-field>

      <mat-card-actions align="center">
        <button mat-raised-button color="primary" *ngIf="authService.loggedIn">Submit Comment</button>
        <button type="button" mat-raised-button color="warn" *ngIf="authService.loggedIn" (click)="onCancel()">Cancel</button>
        <button type="button" mat-raised-button color="warn" *ngIf="!authService.loggedIn" (click)="onCancel()">Back</button>
        <mat-error>{{message}}</mat-error>
      </mat-card-actions>
    </form>
  </mat-card>
</div>


<div class="container" *ngIf="!authService.loggedIn">
  
  <mat-card class="example-card container" *ngFor="let blog of blogPosts">
    <form class="my-form" novalidate style="width: 100%">
      <mat-card-header>
        <mat-card-title  >
          <strong> {{blog.title}}</strong>
          <hr>
        </mat-card-title>
        
      </mat-card-header>
      <mat-card-content >
        <div class="panel-body">
          <pre>{{blog.body}}</pre>
        </div>
        <div class="panel-footer">
            <strong  *ngIf="blog.coments?.length > 0">Comments: </strong><p *ngFor="let blog_coment of blog.coments" > {{blog_coment.comment}}</p>
          <strong>Posted by: </strong>{{blog.createdBy}}
          <br>
          <strong>Date: </strong>{{blog.createAt | date: 'MMM dd, yyyy'}}
          <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy">
            <button type="button" name="button" class="btn btn-sm btn-info"
              style="margin-right: 10px !important">Edit</button>
          </a>
          <a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy">
            <button type="button" name="button" class="btn btn-sm btn-danger">Delete</button>
          </a>
          <br>
          <br>
        <button type="button" mat-raised-button color="warn"(click)="onCancel()">Back</button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>