/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.mat-card-header-text {
    margin: 0 16px;
    width: 100%;
}

.ngx-pagination {
    margin-left: 0;
    margin-bottom: 1rem;
    margin: 16px;
}