<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-top: 15px">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <img src="../../assets/p.jpg" width="40">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="myDIV">
        <!-- <a class="nav-item nav-link active" routerLink="/dashboard">Home <span class="sr-only">(current)</span></a> -->
        <a class="nav-item nav-link active " routerLink="/index" >Index <span class="sr-only" >(current)</span></a>
        <a class="nav-item nav-link" *ngIf="!authService.loggedIn" routerLink="/login">Login</a>
        <a class="nav-item nav-link" *ngIf="!authService.loggedIn" routerLink="/register">Register</a>
        <a class="nav-item nav-link" *ngIf="authService.loggedIn"style="cursor: pointer" (click)="logout()">Log Out</a>
        <a class="nav-item nav-link" *ngIf="authService.loggedIn" routerLink="/newpost">New Post</a>
      </div>
    </div>
  </nav>
</div>